body{
    background-color: #ffe680;
    margin: 0;
    padding: 0;
}
.about-us{
    background-color: #fff0b3;
    text-align: center;
    font-size: 30px;
    font-family: 'Gupter';
       color: #000033;
       margin-top:0;
   
       height: 400px;
       padding:40px;

}
